/* colours */

$text-color: #3f4254;
$header-color: #a4a4b5;
$accent: #2E8FF0;
$white: #ffffff;
$black: #000000;
$light-gray: #F4F5F8;
$darker-gray: #EFF0F4;
$error: #EF7DA0;
$success: #66BB6A;
$delete: #F44682;

$corner: 6px;